<%- include('../../layouts/dashboard/head') %>
<%- include('../../layouts/dashboard/topbar') %>
<%- include('../../layouts/dashboard/left_bar') %>
<script> 
var monthYear = '<%= month%> <%= year %>';
</script>    
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.js"></script>
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                            <h4 class="header-title m-t-0 m-b-30 text-center" id=""><script type="text/javascript">document.write(moment(monthYear,'mm yyyy').format('MMMM YYYY'));</script></h4>
                            <div class="col-lg-12">
                                    <div class="row">
                                            <div class="col-lg-12">
                                                <div class="panel panel-custom panel-border">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title"><script type="text/javascript">document.write(moment(monthYear,'mm yyyy').format('MMMM YYYY'));</script> Bazar Status</h3>
                                                    </div>
                                                    <div class="panel-body">
                                                            <div class="col-md-12">
                                                                <ul class="list-group">
                                                                    <% var totalBazar = 0; %>
                                                                    <%  _.each(member_list, function(v,k){ var thisTotal = 0;%> 
                                                                    <% _.each(bazar_list,function(va,ka){if(v.user_id == va.assign_user_id){thisTotal = (thisTotal) + Number(va.total_amount); totalBazar = (totalBazar) + Number(va.total_amount) }})%>
                                                                        <li class="list-group-item data" data-value="0">
                                                                                <span class="badge badge-primary"><%= thisTotal %> Tk</span>
                                                                            <%= v.user_name %>
                                                                        </li>
                                                                    <%})%>
                                                                    
                                                                    <li class="list-group-item" style="font-weight:bold"> Total: <span class="badge badge-primary"> <%= totalBazar %> Tk</span> </li>
                                                                </ul>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">
                                    <% if(ses_msg !== null){ %>
                                        <div class="alert alert-success alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <%= ses_msg %>
                                        </div>
                                    <%   } %>

                                </div>
                            </div><!-- end col -->
                            
                        </div>
                        <!-- end row -->


                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer">
                    2016 - 2017 © Adminto.
                </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


<%- include('../../layouts/dashboard/right_bar') %>
<%- include('../../layouts/dashboard/foot') %>
<script type="text/javascript">
    var totaldays = moment(moment().format('MMMM YYYY'), "MMMM YYYY").daysInMonth();
    var today = moment().format('DD');
    var thisMonth = moment().format('MM');
    var thisYear = moment().format('YYYY');
</script>