<%- include('../../layouts/dashboard/head') %>
<%- include('../../layouts/dashboard/topbar') %>
<%- include('../../layouts/dashboard/left_bar') %>
<script>
    var allMemberlist = <%- JSON.stringify(member_list) %>;
</script>
<style>
.mce-container.mce-menubar{
    display: none;
}


html.modal-active, body.modal-active {
  overflow: hidden;
}
.modal-header{
    padding: 0px 25px;
    font-size: 18px;
    background-color: #36404a;
    color: #ffffff;
    text-align: left;
    margin: 0px;
    width: 100%;
}
.modal-header h4{
    color: #eeeeee;
    margin: 0px;
    padding: 0px;
    line-height: 52px;
}
.closeModal{
    position: absolute;
    right: 15px;
    font-size: 21px;
    font-weight: 700;
    top: 11px;
    cursor: pointer;
}

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}

#modal-container.customModal {
  transform: scale(1);
}
#modal-container.customModal .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.customModal .modal-background .modal {
  opacity: 0;
  animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

/* #modal-container.two + .content {
  animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
} */

#modal-container.customModal.out {
  animation: quickScaleDown 0s .5s linear forwards;
}
#modal-container.customModal.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.customModal.out .modal-background .modal {
  animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
/* 
#modal-container.two.out + .content {
  animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
} */

#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
#modal-container .modal-background .modal {
  background: white;
  /* padding: 50px; */
  display: inline-block;
  border-radius: 0 0 3px 3px;
  font-weight: 300;
  position: relative;
  width: 450px;
}
/* #modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
#modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
} */

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}
@keyframes scaleBack {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}
@keyframes scaleForward {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

</style> 
<!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">                            
                        <div class="panel panel-custom panel-border">
                            <div class="panel-heading">
                                <h4 class="panel-title text-center col-md-12" id="todayData"></h4>
                            </div>
                            <div class="panel-body"></div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="alert alert-success alert-dismissable" id="addBazarAlertMsg" style="display: none">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <span></span>
                        </div>

                        <div class="row">
                            <form action="" class="form-horizontal" role="form" method="POST">
                                
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-custom panel-border">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title text-center">Add Bazar</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">Select Day </label>
                                                            <div class="col-md-8">
                                                                <select class="form-control select2" onchange="datebyBazar(this)" name="day" id="bazarOfTheDay">
                                                                    
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <% if(userData.user_role == 'Manager'){ %>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">Select Member </label>
                                                            <div class="col-md-8">
                                                                <select class="form-control select2" name="member_id" id="selectMember_id" required>
                                                                    <% _.each(member_list,function(v,k){ %>
                                                                        <option value="<%= v.user_id %>"><%= v.user_name %></option>
                                                                    <% })%>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">Bazar Details</label>
                                                            <div class="col-md-8">
                                                                <textarea class="form-control" name="bazar_details" id="bazarDetails2"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">Amount</label>
                                                            <div class="col-md-8">
                                                                <input type="number" class="form-control" name="total_amount" value="0" id="totalAmount">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-lg-8 col-md-offset-4 text-center">
                                                                <a class="btn btn-block btn-primary waves-effect waves-light w-xs m-b-5" onclick="addBazar('new')">Add Bazar</a>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-custom panel-border">
                                                <div class="panel-heading">
                                                    <h3 id="bazarStatus" class="panel-title text-center">Today Bazar Status</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="col-md-12">
                                                        <ul class="list-group" id="todayBazarList">
                                                            <% _.each(bazar_list, function(va,ka){%>
                                                                <% _.each(member_list,function(v,k){if(va.assign_user_id == v.user_id){%>
                                                                    <li class="list-group-item data" data-value="<%= va.total_amount %>">
                                                                            <span class="badge badge-primary"><%= va.total_amount %> Tk.</span>
                                                                        <%= ka+1 %>. <%= v.user_name%>
                                                                    </li>
                                                                <% }})%>
                                                            <%})%>
                                                            <li class="list-group-item" id="todayBazarTotal" style="font-weight:bold"> Total: <span class="badge badge-primary"> 0 Tk.</span> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div><!-- end row -->

                    </div><!-- end col -->
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-success panel-border">
                                    <div class="panel-heading">
                                        <h2 class="panel-title text-center">Bazar List</h2>
                                    </div>
                                    <div class="panel-body">                                                
                                        <div class="table-rep-plugin">
                                            <div class="table-responsive" data-pattern="priority-columns">
                                                <table id="tech-companies-1" class="table  table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Sl</th>
                                                            <th>Member</th>
                                                            <th>Creator</th>
                                                            <th>Bazar Details</th>
                                                            <th>Amount</th>
                                                            <th>Date & Time</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="dateByBazar_table">
                                                    <% var i = 1; _.each(bazar_list, function(v,k){ %>
                                                        
                                                        <tr data_amount="<%= v.total_amount %>" data_details="<%= v.bazar_details%>">
                                                            <td><%= i++ %></td>
                                                            <td class="data_member"> <% _.each(member_list, function(vm,km){ if(vm.user_id == v.assign_user_id){ %> <%= vm.user_name %> <% } }) %></td>
                                                            <td> <% _.each(member_list, function(vm,km){ if(vm.user_id == v.creator_id){ %> <%= vm.user_name %> <% } }) %></td>
                                                            <td><%= v.bazar_details%></td>
                                                            <td><%= v.total_amount %> Tk.</td>
                                                            <td><%= moment.unix(v.date_of_bazar).format('DD-MM-YYYY') %> </td>
                                                            <td>
                                                                <button class="btn btn--md btn-info waves-effect waves-light customModal" onclick="editBazar(this)" data_member_id="<%= v.assign_user_id %>" data-id="<%= v.bazar_id %>"> <i class="fa fa-edit (alias)"></i> </button>
                                                                <button class="btn btn--md btn-danger waves-effect waves-light" onclick="deleteBazar(this)" data_member_id="<%= v.assign_user_id %>" data_amount="<%= v.total_amount %>" data-id="<%= v.bazar_id %>"> <i class="fa fa-trash-o"></i> </button>
                                                            </td>
                                                        </tr>
                                                        <% }); %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                    </div>
                </div>
                        <!-- end row -->

            </div> <!-- container -->

        </div> <!-- content -->
        <footer class="footer text-right">
                 <%= footer_name %>.
            </footer>
    </div>

    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


<%- include('../../layouts/dashboard/right_bar') %>
<%- include('../../layouts/dashboard/foot') %>


<div class="test_row row">
    <div id="modal-container">
        <div class="modal-background">
          <div class="modal">
              <div class="modal-header">
                  <h4>Edit Bazar</h4>
                  <span class="closeModal">&times;</span><span class="sr-only">Close</span>
              </div>
              <div class="bg-picture card-box" style="margin:0px;">
                    <div class="profile-info-name">
                        <div class="profile-info-detail">
                            <h3 class="profileTitle" class="m-t-0 m-b-0"></h3>
                            <p class="text-muted m-b-20"><i></i></p>

                            <form role="form" class="form">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="member_id" value="">
                                    <input type="hidden" class="form-control" id="bazar_id" value="">
                                    <label style="float:left" class="text-left control-label">Bazar Details</label>
                                    <textarea class="form-control" id="bazarDetail" value=""></textarea>
                                </div>
                                <div class="form-group">
                                    <label style="float:left" class="text-left control-label">Bazar Amount</label>
                                    <input type="text" class="form-control" id="bazarAmount" value="">
                                </div>
                            </form>

                            <div class="button-list m-t-20">
                                <button onclick="updateBazar()" style="float:right" type="button" class="btn btn-sm btn-twitter waves-effect waves-light">Update</button>
                                <button onclick="$('.closeModal').trigger('click')" style="float:right" type="button" class="btn btn-facebook btn-sm waves-effect waves-light">Cancel</button>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
          </div>
        </div>
      </div>
</div>

<!-- Sweet Alert js -->
<script src="/admin_assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
<script src="/admin_assets/pages/jquery.sweet-alert.init.js"></script>


<script type="text/javascript">
    $('#todayData').text('Month: '+moment().format('MMMM YYYY'));
    var totaldays = moment(moment().format('MMMM YYYY'), "MMMM YYYY").daysInMonth();
    var today = moment().format('DD');
    var thisMonth = moment().format('MM');
    var thisYear = moment().format('YYYY');
    var i;
    for (i = 1; i <= today; i++) { 
        if(i == today){
            $('#bazarOfTheDay').append('<option id="todayOption" selected="selected" value="'+i+'">Day '+i+'</option>');
            $("#bazarOfTheDay").select2({
                placeholder: "day "+i,
                allowClear: true
            });
            
        }else{
            $('#bazarOfTheDay').append('<option value="'+i+'">Day '+i+'</option>');
        }

    }
    var holdClick = 1;
    function addBazar(type){
        if(holdClick == 1){
            holdClick = 0;
            if($('#totalAmount').val() > 0){

                var day = $('#bazarOfTheDay').val()
                var date = moment(day+'-'+thisMonth+'-'+thisYear, "DD-MM-YYYY").unix();
                var data_user_name = '';
                $.each(allMemberlist, function(k,v){
                    if(v.user_id == $('#selectMember_id').val())
                        data_user_name = v.user_name;
                });
        
                var data = {
                    member:$('#selectMember_id').val(),
                    bazar_details:$('#bazarDetails2').val(),
                    amount:$('#totalAmount').val(),
                    day:day,
                    month:thisMonth,
                    year:thisYear,
                    date_of_meal:date
                }
                
                $.ajax({
                    type: "POST",
                    url: '/bazar/addBazar',
                    data: data,
                    success: function(res) {
                        console.log(res)
                        holdClick = 1;
                        var alertMsg = "Bazar Added Successfully.";
                        $('#bazarDetails2').val('');
                        $('#totalAmount').val(0);
                        $('#addBazarAlertMsg').slideDown().find('span').text(alertMsg);
                        var i = $('#dateByBazar_table tr').length + 1;
                        var list = '<li class="list-group-item data" data-value="'+data.amount+'">';
                            list += '<span class="badge badge-primary">'+data.amount+' Tk.</span>'+ i +'. '+data_user_name+'';
                            list += '</li>';

                        var creator;
                        $.each(allMemberlist, function(k,v){
                            if(v.user_id == res.data.creator_id){
                                creator = v.user_name;
                            }
                        });
                        var tableData = '<tr data_amount="'+data.amount+'" data_details="'+ data.bazar_details +'">';
                            tableData +=    '<td>'+ i +'</td>';
                            tableData +=    '<td class="data_member">'+data_user_name+'</td>';
                            tableData +=    '<td>'+creator+'</td>';
                            tableData +=    '<td>'+ data.bazar_details +'</td>';
                            tableData +=    '<td>'+data.amount+' Tk.</td>';
                            tableData +=    '<td>'+ moment.unix(res.data.date_of_bazar).format('DD-MM-YYYY') +'</td>';
                            tableData +=    '<td>';
                            tableData +=        '<button class="btn btn--md btn-info waves-effect waves-light customModal" onclick="editBazar(this)" data_member_id="'+res.data.assign_user_id+'" data-id="'+res.data.bazar_id+'"> <i class="fa fa-edit (alias)"></i> </button> ';
                            tableData +=        '<button class="btn btn--md btn-danger waves-effect waves-light" onclick="deleteBazar(this)" data_member_id="'+res.data.assign_user_id+'" data_amount="'+data.amount+'" data-id="'+res.data.bazar_id+'"> <i class="fa fa-trash-o"></i> </button>';
                            tableData +=    '</td>';
                            tableData += '</tr>';
                        // $('#todayBazarList').append(list);
                        $(list).insertBefore('#todayBazarTotal');
                        $('#dateByBazar_table').append(tableData);

                        let count = $('#todayBazarList').find('.data');
                        var totalBazarAmount = 0
                        $.each(count,function(k,v){
                            totalBazarAmount = totalBazarAmount + Number($(v).attr('data-value'))
                            $('#todayBazarTotal span').text(totalBazarAmount+' Tk.');
                        });
                        setTimeout(function(){ $('#addBazarAlertMsg').slideUp(); }, 2000);
                    },
                    error: function() {
                        console.log('failed');
                    }
                });
            }else{
                 holdClick = 1;
                var alertMsg = "Please enter some amount.";
                $('#addBazarAlertMsg').slideDown().find('span').text(alertMsg);
                setTimeout(function(){ $('#addBazarAlertMsg').slideUp(); }, 2000);
            }
        }
    }
    var totalAmount = 0;
    var count = $('#todayBazarList').find('.data');
    // console.log(count)
    $.each(count,function(k,v){
        totalAmount = totalAmount + Number($(v).attr('data-value'))
        $('#todayBazarTotal span').text(totalAmount+' Tk.');
    })

    function datebyBazar(elm){
        let value = $(elm).val();
        $.ajax({
            type: 'GET',
            url: '/bazar/'+value+'',
            success: function(res){
                if(res.msg == 'success'){
                    console.log(res.data);
                    if(res.data !== null){
                        if(value == today){
                            $('#bazarStatus').text('Today Bazar Status');
                        }else{
                            $('#bazarStatus').text('Day '+ value+' Bazar Status');
                        }
                        $('#todayBazarList li.data').remove();
                        $('#dateByBazar_table tr').remove();
                        let totalBazarAll = 0;
                        $.each(res.data,function(k,v){
                            let Creator;
                            $.each(allMemberlist, function(kc,vc){
                                if(vc.user_id == v.creator_id){
                                    Creator = vc.user_name;
                                }
                            });
                            $.each(allMemberlist,function(km, vm){
                                if(v.assign_user_id == vm.user_id){
                                    totalBazarAll = Number(v.total_amount) + totalBazarAll;
                                var list = '<li class="list-group-item data" data-value="'+v.total_amount+'">';
                                    list += '<span class="badge badge-primary">'+v.total_amount+' Tk.</span>'+vm.user_name+'';
                                    list += '</li>';
                                var tableData =  '<tr data_amount="'+v.total_amount+'" data_details="'+ v.bazar_details +'">';
                                    tableData +=    '<td>'+(k+1)+'</td>';
                                    tableData +=    '<td class="data_member">'+vm.user_name+'</td>';
                                    tableData +=    '<td>'+Creator+'</td>';
                                    tableData +=    '<td>'+v.bazar_details+'</td>';
                                    tableData +=    '<td>'+v.total_amount+' Tk.</td>';
                                    tableData +=    '<td>'+ moment.unix(v.date_of_bazar).format('DD-MM-YYYY') +'</td>';
                                    tableData +=    '<td>';
                                    tableData +=        '<button class="btn btn--md btn-info waves-effect waves-light customModal" onclick="editBazar(this)" data_member_id="'+v.assign_user_id+'" data-id="'+v.bazar_id+'"> <i class="fa fa-edit (alias)"></i> </button> ';
                                    tableData +=        '<button class="btn btn--md btn-danger waves-effect waves-light" onclick="deleteBazar(this)"  data_member_id="'+v.assign_user_id+'" data_amount="'+v.total_amount+'" data-id="'+v.bazar_id+'"> <i class="fa fa-trash-o"></i> </button>';
                                    tableData +=    '</td>';
                                    tableData += '</tr>';
                                $('#todayBazarList').prepend(list);
                                $('#dateByBazar_table').append(tableData);
                                console.log(v);
                                }
                            });
                        });
                        $('#todayBazarTotal span').text(totalBazarAll+' Tk.');
                    }
                }
            }
        });
    }

    function deleteBazar(elm){
        let id = $(elm).attr('data-id');
        let deleteAmount = $(elm).attr('data_amount');
        let member = $(elm).attr('data_member_id');
        console.log(deleteAmount, member);
        swal({
            title: "Are you sure ?",
            text: "You want to delete this Bazar ? This cannot be UNDONE !",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: 'btn-danger waves-effect waves-light',
            confirmButtonText: 'Yes!',
            closeOnConfirm: false
        },function(isConfirm){
            if(isConfirm){
                $.ajax({
                    type: 'POST',
                    url: '/deleteBazar',
                    data: {id:id,amount:deleteAmount,member:member},
                    success: function(res){
                        if(res.msg == 'success'){
                            swal({
                                title:"Delete!", 
                                text:"Succesfully Deleted", 
                                type:"success",
                                showConfirmButton: true
                            },function(res){
                                    location.reload();
                            });
                        }
                    }
                });
            }
        });
    }

    function editBazar(elm){
        let id = $(elm).attr('data-id');
        let member_id = $(elm).attr('data_member_id');
        let amount = $(elm).parents('tr').attr('data_amount');
        let details =  $(elm).parents('tr').attr('data_details');
        let member =  $(elm).parent('td').siblings('.data_member').text();
        $('.profileTitle').text(member);
        $('#member_id').val(member_id);
        $('#bazar_id').val(id);
        $('#bazarDetail').val(details);
        $('#bazarAmount').val(amount);
        $('#modal-container').removeAttr('class').addClass('customModal').css('z-index','999');
        $('body').addClass('modal-active');
    }

    function updateBazar(){
        var data = {
            assign_user_id: $('#member_id').val(),
            bazar_id: $('#bazar_id').val(),
            details: $('#bazarDetail').val(),
            amount: $('#bazarAmount').val(),
            c_time: Date.now,
        }
        $.ajax({
            type: 'POST',
            url: '/updateBazar',
            data: data,
            success: function(res){
                if(res.msg == 'success'){
                    location.reload();
                }
            }
        });
    }

    $('.closeModal').click(function(){
        $('#modal-container').addClass('out');
        $('body').removeClass('modal-active');
    });

</script>