<%- include('../../layouts/dashboard/head') %>
<%- include('../../layouts/dashboard/topbar') %>
<%- include('../../layouts/dashboard/left_bar') %>

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        
                        <div class="col-sm-12">
                            <div class="panel panel-success panel-border">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6"> <h2 class="panel-title text-center">Catering Menu List</h2></div>             
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label style="line-height: 38px;" class="col-md-3 col-sm-3 panel-title">Menu Name</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input type="text" class="form-control" name="" id="">
                                                    </div>
                                                    <div class="col-md-3 col-sm-3">
                                                        <button style="height: 38px;" class="btn btn-md btn-info">Add Menu</button>
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">                                                
                                    <div class="row m-b-5">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <h4>Days</h4>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <h4>Breakfast</h4>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <h4>Lunch</h4>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <h4>Diner</h4>
                                        </div>
                                    </div>
                                    <div class="row m-b-5">
                                        <div class="col-md-3">
                                            <p>Saturday</p>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Breakfast</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Lunch</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Diner</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row m-b-5">
                                        <div class="col-md-3">
                                            <p>Sunday</p>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Breakfast</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Lunch</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Diner</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row m-b-5">
                                        <div class="col-md-3">
                                            <p>Monday</p>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Breakfast</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Lunch</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Diner</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row m-b-5">
                                        <div class="col-md-3">
                                            <p>Tuesday</p>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Breakfast</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Lunch</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Diner</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row m-b-5">
                                        <div class="col-md-3">
                                            <p>Wednesday</p>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Breakfast</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Lunch</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Diner</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row m-b-5">
                                        <div class="col-md-3">
                                            <p>Thusday</p>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Breakfast</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Lunch</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Diner</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row m-b-5">
                                        <div class="col-md-3">
                                            <p>Friday</p>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Breakfast</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Lunch</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select name="" class="form-control" id="">
                                                <option value="">Select Diner</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer text-right"><%= footer_name %> </footer>
            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

<%- include('../../layouts/dashboard/right_bar') %>
<%- include('../../layouts/dashboard/foot') %>