<%- include('../../layouts/dashboard/head') %>
<%- include('../../layouts/dashboard/topbar') %>
<%- include('../../layouts/dashboard/left_bar') %>

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        
                        <div class="col-sm-12">
                            <div class="panel panel-success panel-border">
                                <div class="panel-heading">
                                    <h2 class="panel-title text-center">Bazar List</h2>
                                </div>
                                <div class="panel-body">                                                
                                    <div class="row m-b-5">
                                        <div class="col-md-3">
                                            <h4>Days</h4>
                                        </div>
                                        <div class="col-md-3">
                                            <h4>Breakfast</h4>
                                        </div>
                                        <div class="col-md-3">
                                            <h4>Lunch</h4>
                                        </div>
                                        <div class="col-md-3">
                                            <h4>Diner</h4>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="row m-b-5">
                                        <div class="col-md-3">
                                            <p>Saturday</p>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row m-b-5">
                                        <div class="col-md-3">
                                            <p>Sunday</p>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row m-b-5">
                                        <div class="col-md-3">
                                            <p>Monday</p>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row m-b-5">
                                        <div class="col-md-3">
                                            <p>Tuesday</p>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row m-b-5">
                                        <div class="col-md-3">
                                            <p>Wednesday</p>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row m-b-5">
                                        <div class="col-md-3">
                                            <p>Thusday</p>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row m-b-5">
                                        <div class="col-md-3">
                                            <p>Friday</p>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer text-right"><%= footer_name %> </footer>
            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

<%- include('../../layouts/dashboard/right_bar') %>
<%- include('../../layouts/dashboard/foot') %>