<%- include('../../layouts/dashboard/head') %>
<%- include('../../layouts/dashboard/topbar') %>
<%- include('../../layouts/dashboard/left_bar') %>

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <% _.each(user_data, function(v,k){ %>
                            <div class="col-lg-3 col-md-6">
                                <div class="card-box widget-user">
                                    <div>
                                        <img src="/admin_assets/images/users/<%= v.user_img %>" class="img-responsive img-circle" style="width:72px" alt="user">
                                        <div class="wid-u-info">
                                            <h4 class="m-t-0 m-b-5 font-600"><%= v.user_name %></h4>
                                            <p class="text-muted m-b-5 font-13"><%= v.user_phone %></p>
                                            <small class="text-warning"><span class="badge badge-info">Balance:  <%= v.account %>  Tk. </span></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                        </div>
                        <!-- end row -->

                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer text-right">
                    2016 - 2017 © Adminto.
                </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
<%- include('../../layouts/dashboard/right_bar') %>
<%- include('../../layouts/dashboard/foot') %>
