<%- include('../../layouts/dashboard/head') %>
<%- include('../../layouts/dashboard/topbar') %>
<%- include('../../layouts/dashboard/left_bar') %>
<script>
var allmonthReport = <%- JSON.stringify(all_month_report) %>;
var thisMonthAllMeal = <%- JSON.stringify(this_month_meal) %>;
var bazar_list = <%- JSON.stringify(bazar_list) %>;
var thisMonth = moment().format('MM');
var thisYear = moment().format('YYYY');
</script>
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0">Meal Statistics</h4>
                                    <div id="meal-bar-example" style="height: 280px;"></div>
                                </div>
                            </div><!-- end col -->
                            <div class="col-lg-4">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0">Bazar Statistics</h4>
                                    <div id="bazar-bar-example" style="height: 280px;"></div>
                                </div>
                            </div><!-- end col -->
                            <div class="col-lg-4">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0">Meal Rate Statistics</h4>
                                    <div id="mealRate-bar-example" style="height: 280px;"></div>
                                </div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->
                        <div class="row">
                                <div class="col-lg-7">
                                        <div class="card-box">
        
                                            <h4 class="header-title m-t-0 m-b-30">Bazar Update</h4>
        
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>SL</th>
                                                        <th>Name</th>
                                                        <th>Amount</th>
                                                        <th>Details</th>
                                                        <th>Date</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% _.each(bazar_list, function(v,k){ _.each(user_data,function(vu,ku){ if(v.assign_user_id == vu.user_id){ %> 
                                                            <tr>
                                                                <td><%= k + 1 %></td>
                                                                <td><%= vu.user_name %></td>
                                                                <td><span class="label label-danger"><%= v.total_amount %></span></td>
                                                                <td><%= v.bazar_details %></td>
                                                                <td><%= moment(v.created_at,'ddd MMM DD YYYY hh:mm:ss').format('DD-MM-YYYY') %></td>
                                                            </tr>
                                                        <% }}) })%>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                </div><!-- end col -->
                        </div>

                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer text-right">
                        2019 © <%= footer_name %>.
                    </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
<%- include('../../layouts/dashboard/right_bar') %>
<%- include('../../layouts/dashboard/foot') %>
<!--Morris Chart-->
<script src="/admin_assets/plugins/morris/morris.min.js"></script>
<script src="/admin_assets/plugins/raphael/raphael-min.js"></script>
<script type="text/javascript" src="/admin_assets/plugins/jquery-knob/excanvas.js"></script>
<script src="/admin_assets/pages/jquery.dashboard.js"></script>