<%- include('../../layouts/dashboard/head') %>
<%- include('../../layouts/dashboard/topbar') %>
<%- include('../../layouts/dashboard/left_bar') %>   
<script>
    var allMemberlist = <%- JSON.stringify(member_list) %>;

</script>
             <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.js"></script>
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">

                                    <h4 class="header-title m-t-0 m-b-30">Add Meal</h4>
                                    <% if(ses_msg !== null){ %>
                                        <div class="alert alert-success alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <%= ses_msg %>
                                        </div>
                                    <%   } %>

                                    <div class="row">
                                            <h4 class="header-title m-t-0 m-b-30 text-center" id="todayData"></h4>
                                        <form action="" class="form-horizontal" role="form" method="POST">
                                            
                                            <div class="col-lg-7">
                                                <div class="form-group">
                                                    <label class="col-md-5 control-label">Select Day </label>
                                                    <div class="col-md-7">
                                                            <select class="form-control select2" onchange="getDatewise(this)" name="day" id="mealOfTheDay">
                                                                
                                                            </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-5 control-label">Select Member </label>
                                                    <div class="col-md-7">
                                                            <select class="form-control select2" name="member_id" id="selectMember_id" required>
                                                                    <% _.each(member_list,function(v,k){ %>
                                                                        <option value="<%= v.user_id %>"><%= v.user_name %></option>
                                                                    <% })%>
                                                            </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-5 control-label">Breakfast</label>
                                                    <div class="col-md-3">
                                                        <input type="number" class="form-control"  name="meal_breakfast" value="0.5" id="breakfastMeal">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                            <label class="col-md-5 control-label">Lunch</label>
                                                            <div class="col-md-3">
                                                                <input type="number" class="form-control"  name="meal_lunch" value="1" id="lunchMeal">
                                                            </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                            <label class="col-md-5 control-label">Dinner</label>
                                                            <div class="col-md-3">
                                                                <input type="number" class="form-control"  name="meal_dinner" value="0.5" id="dinnerMeal">
                                                            </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                            <label class="col-md-5 control-label">Guest</label>
                                                            <div class="col-md-3">
                                                                <input type="number" class="form-control"  name="guest_meal" placeholder="Guest Meal" value="0" id="guestMeal">
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                    <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="panel panel-custom panel-border">
                                                                    <div class="panel-heading">
                                                                        <h3 class="panel-title">Today Meal Status</h3>
                                                                    </div>
                                                                    <div class="panel-body">
                                                                            <div class="col-md-12">
                                                                                <ul class="list-group" id="todayMealList"> 
                                                                                    <% _.each(meal_list, function(va,ka){ var t=va.lunch + va.dinner + va.breakfast + va.guest%>
                                                                                        <% _.each(member_list,function(v,k){if(va.assign_user_id == v.user_id){%>
                                                                                            <li class="list-group-item data" data-value="<%= t %>">
                                                                                                    <span class="badge badge-primary"><%= t %></span>
                                                                                                <%= v.user_name%>
                                                                                            </li>
                                                                                        <% }})%>
                                                                                    <%})%>
                                                                                    <li class="list-group-item" id="todayMealTotal" style="font-weight:bold"> Total: <span class="badge badge-primary"> 00</span> </li>
                                                                                </ul>
                                                                            </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </div>
                                            </div>
                                        </form>
                                            <div class="col-lg-12 text-center">
                                                <button class="btn btn-primary waves-effect waves-light w-xs m-b-5" onclick="addMeal('new')">Submit</button>
                                            </div>

                                    </div><!-- end row -->

                                </div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->


                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer">
                    2016 - 2017 © Adminto.
                </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


<%- include('../../layouts/dashboard/right_bar') %>
<%- include('../../layouts/dashboard/foot') %>


<script type="text/javascript">
    $('#todayData').text('Month: '+moment().format('MMMM YYYY'));
    var totaldays = moment(moment().format('MMMM YYYY'), "MMMM YYYY").daysInMonth();
    var today = moment().format('DD');
    var thisMonth = moment().format('MM');
    var thisYear = moment().format('YYYY');
    var i;
    for (i = 1; i <= today; i++) { 
        if(i == today){
            $('#mealOfTheDay').append('<option id="todayOption" selected="selected" value="'+i+'">Day '+i+'</option>');
            $("#mealOfTheDay").select2({
                placeholder: "day "+i,
                allowClear: true
            });
            
        }else{
            $('#mealOfTheDay').append('<option value="'+i+'">Day '+i+'</option>');
        }

    }

    function addMeal(type){
        var day = $('#mealOfTheDay').val()
        var date = moment(day+'-'+thisMonth+'-'+thisYear, "DD-MM-YYYY").unix();

        var data = {
            member:$('#selectMember_id').val(),
            lunch:$('#lunchMeal').val(),
            dinner:$('#dinnerMeal').val(),
            breakfast:$('#breakfastMeal').val(),
            guest_meal:$('#guestMeal').val(),
            day:day,
            month:thisMonth,
            year:thisYear,
            date_of_meal:date
        }
        $.ajax({
            type: "POST",
            url: '/meal/addMeal',
            data: data,
            success: function(res) {
                location.replace('/meal');
            },
            error: function() {
                console.log('failed');
            }
        });
    }
    var totalMeal = 0;
    var count = $('#todayMealList').find('.data');
    $.each(count,function(k,v){
        totalMeal = totalMeal + Number($(v).attr('data-value'))
        $('#todayMealTotal span').text(totalMeal);
    })


    function getDatewise(elm){
        let value = $(elm).val();
        console.log(value);

        $.ajax({
            type: 'GET',
            url: '/meal/'+value+'',
            success: function (res){
                if(res.msg == 'success'){
                    if(res.data !== null){
                        if(value == today){
                            $('.panel-title').text('Today Meal Status');
                        }else{
                            $('.panel-title').text('Day '+ value+' Meal Status');

                        }
                        $('#todayMealList li.data').remove();
                        var totalMealAll = 0;
                        $.each(allMemberlist, function(k,v){
                            $.each(res.data,function(ka,va){
                                if(va.assign_user_id == v.user_id){
                                    var totalMeal = va.lunch + va.breakfast + va.dinner + va.guest;
                                    totalMealAll = totalMeal + totalMealAll;
                                    var html ='<li class="list-group-item data" data-value="'+ totalMeal +'">';
                                        html +=       '<span class="badge badge-primary">'+ totalMeal +'</span> '+v.user_name+'';
                                        html +='</li>';
                                        $('#todayMealList').prepend(html);
                                }
                            })
                        });
                        $('#todayMealTotal span').text(totalMealAll);
                        

                        
                    }
                }
            }
        });
    }
</script>