<%- include('../../layouts/dashboard/head') %>
<%- include('../../layouts/dashboard/topbar') %>
<%- include('../../layouts/dashboard/left_bar') %>   
<script>
    var allMemberlist = <%- JSON.stringify(member_list) %>;

</script>
        <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-success alert-dismissable" id="alertMessageMeal" style="display: none">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <span> </span>
                        </div>

                        <div class="row">
                            <form action="" class="form-horizontal" role="form" method="POST">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel panel-custom panel-border">
                                                <div class="panel-heading col-md-12 m-b-15">
                                                    <h3 style="width:50%" class="panel-title col-md-6">Add Meal</h3>
                                                    <h4 style="width:50%" class="panel-title col-md-6 text-right" id="todayData"></h4>
                                                </div>
                                                <div class="panel-body">

                                                    <div class="form-group">
                                                        <label class="col-md-5 control-label">Select Day </label>
                                                        <div class="col-md-7">
                                                            <select class="form-control select2" onchange="getDatewise(this)" name="day" id="mealOfTheDay">
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <% if(userData.user_role == 'Manager'){ %>
                                                    <div class="form-group">
                                                        <label class="col-md-5 control-label">Select Member </label>
                                                        <div class="col-md-7">
                                                            <select class="form-control select2" name="member_id" id="selectMember_id" required>
                                                                <% _.each(member_list,function(v,k){ %>
                                                                    <option value="<%= v.user_id %>"><%= v.user_name %></option>
                                                                <% })%>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-5 control-label">Breakfast</label>
                                                        <div class="col-md-7">
                                                            <input type="number" class="form-control"  name="meal_breakfast" value="0.5" id="breakfastMeal">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-5 control-label">Lunch</label>
                                                        <div class="col-md-7">
                                                            <input type="number" class="form-control"  name="meal_lunch" value="1" id="lunchMeal">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-5 control-label">Dinner</label>
                                                        <div class="col-md-7">
                                                            <input type="number" class="form-control"  name="meal_dinner" value="0.5" id="dinnerMeal">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-5 control-label">Guest</label>
                                                        <div class="col-md-7">
                                                            <input type="number" class="form-control"  name="guest_meal" placeholder="Guest Meal" value="0" id="guestMeal">
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-lg-7 col-md-offset-5 text-center">
                                                        <a style="width:100%" class="btn btn-primary waves-effect waves-light w-xs m-b-5" onclick="addMeal('new')">Add Meal</a>
                                                    </div>
                                                    
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-custom panel-border">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Today Meal Status</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="col-md-12">
                                                        <ul class="list-group" id="todayMealList"> 
                                                            <% _.each(meal_list, function(va,ka){ var t=va.lunch + va.dinner + va.breakfast + va.guest%>
                                                                <% _.each(member_list,function(v,k){if(va.assign_user_id == v.user_id){%>
                                                                    <li class="list-group-item data _mealUser<%= v.user_id %>" data-value="<%= t %>">
                                                                            <span class="badge badge-primary"><%= t %></span>
                                                                        <%= v.user_name%>
                                                                    </li>
                                                                <% }})%>
                                                            <%})%>
                                                            <li class="list-group-item" id="todayMealTotal" style="font-weight:bold"> Total: <span class="badge badge-primary"> 00</span> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div><!-- end row -->
                    </div><!-- end col -->
                </div>
                <!-- end row -->
            </div> <!-- container -->

        </div> <!-- content -->

        <footer class="footer text-right">
                2019 © <%= footer_name %>.
            </footer>

    </div>


    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


<%- include('../../layouts/dashboard/right_bar') %>
<%- include('../../layouts/dashboard/foot') %>


<script type="text/javascript">
    $('#todayData').text('Month: '+moment().format('MMMM YYYY'));
    var totaldays = moment(moment().format('MMMM YYYY'), "MMMM YYYY").daysInMonth();
    var today = moment().format('DD');
    var thisMonth = moment().format('MM');
    var thisYear = moment().format('YYYY');
    var i;
    for (i = 1; i <= today; i++) { 
        if(i == today){
            $('#mealOfTheDay').append('<option id="todayOption" selected="selected" value="'+i+'">Day '+i+'</option>');
            $("#mealOfTheDay").select2({
                placeholder: "day "+i,
                allowClear: true
            });
            
        }else{
            $('#mealOfTheDay').append('<option value="'+i+'">Day '+i+'</option>');
        }

    }

    function addMeal(type){

        var day = $('#mealOfTheDay').val()
        var date = moment(day+'-'+thisMonth+'-'+thisYear, "DD-MM-YYYY").unix();
        var data_user_name = '';
        $.each(allMemberlist, function(k,v){
            if(v.user_id == $('#selectMember_id').val())
                data_user_name = v.user_name;
        });

        var data = {
            member:$('#selectMember_id').val(),
            lunch:$('#lunchMeal').val(),
            dinner:$('#dinnerMeal').val(),
            breakfast:$('#breakfastMeal').val(),
            guest_meal:$('#guestMeal').val(),
            day:day,
            month:thisMonth,
            year:thisYear,
            date_of_meal:date
        }
        $.ajax({
            type: "POST",
            url: '/meal/addMeal',
            data: data,
            success: function(res) {
                var alertMsg = '';
                if($('._mealUser'+data.member).is(':visible')){
                    alertMsg = 'Meal Update Successfully.'
                }else{
                    alertMsg = 'Meal Saved Successfully.'
                }
                $('#alertMessageMeal').slideDown().find('span').text(alertMsg);
                var totalMeal = Number(data.lunch) + Number(data.breakfast) + Number(data.dinner) + Number(data.guest_meal);
                $('._mealUser'+data.member).remove();               
                var html ='<li class="list-group-item data _mealUser'+data.member+'" data-value="'+ totalMeal +'">';
                    html +=       '<span class="badge badge-primary">'+ totalMeal +'</span> '+data_user_name+'';
                    html +='</li>';
                $('#todayMealList').prepend(html);
                setTimeout(function(){ $('#alertMessageMeal').slideUp(); }, 2000);
                // location.replace('/meal');
            },
            error: function() {
                console.log('failed');
            }
        });
    }
    var totalMeal = 0;
    var count = $('#todayMealList').find('.data');
    $.each(count,function(k,v){
        totalMeal = totalMeal + Number($(v).attr('data-value'))
        $('#todayMealTotal span').text(totalMeal);
    })


    function getDatewise(elm){
        let value = $(elm).val();

        $.ajax({
            type: 'GET',
            url: '/meal/'+value+'',
            success: function (res){
                if(res.msg == 'success'){
                    if(res.data !== null){
                        if(value == today){
                            $('.panel-title').text('Today Meal Status');
                        }else{
                            $('.panel-title').text('Day '+ value+' Meal Status');
                        }
                        $('#todayMealList li.data').remove();
                        var totalMealAll = 0;
                        $.each(allMemberlist, function(k,v){
                            $.each(res.data,function(ka,va){
                                if(va.assign_user_id == v.user_id){
                                    var totalMeal = va.lunch + va.breakfast + va.dinner + va.guest;
                                    totalMealAll = totalMeal + totalMealAll;
                                    var html ='<li class="list-group-item data _mealUser'+v.user_id+'" data-value="'+ totalMeal +'">';
                                        html +=       '<span class="badge badge-primary">'+ totalMeal +'</span> '+v.user_name+'';
                                        html +='</li>';
                                    $('#todayMealList').prepend(html);
                                }
                            });
                        });
                        $('#todayMealTotal span').text(totalMealAll);
                    }
                }
            }
        });
    }

    
</script>