<%- include('../../layouts/dashboard/head') %>
<%- include('../../layouts/dashboard/topbar') %>
<%- include('../../layouts/dashboard/left_bar') %>                <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.js"></script>
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">
                                    <% if(ses_msg !== null){ %>
                                        <div class="alert alert-success alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <%= ses_msg %>
                                        </div>
                                    <%   } %>
                                    <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card-box table-responsive">
                                                    <div class="dropdown pull-right">
                                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                                            <i class="zmdi zmdi-more-vert"></i>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li><a href="#">Action</a></li>
                                                            <li><a href="#">Another action</a></li>
                                                            <li><a href="#">Something else here</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#">Separated link</a></li>
                                                        </ul>
                                                    </div>
                
                                                    <h4 class="header-title m-t-0 m-b-30">Buttons Example</h4>
                
                                                    <table id="datatable-buttons" class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Day</th>
                                                                <%  _.each(member_list,function(v,k){ %> 
                                                                    <th><%= v.user_name %>  </th>
                                                                <%})%>
                                                            </tr>
                                                        </thead>
                
                                                        <tbody>
                                                            <% for(var i=1; i<= totaldays; i++) {%>
                                                            <tr>
                                                                <td><%= i %></td>
                                                                <%  _.each(member_list,function(v,k){ %> 
                                                                    <% _.each(meal_list, function(va,ka){ if(va.assign_user_id == v.user_id && va.day == i ){var t=va.lunch + va.dinner + va.breakfast + va.guest%>

                                                                        <td><%= t %></td>
                                                                    <% }})%>
                                                                <%})%>
                                                            </tr>
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div><!-- end col -->
                                        </div>
                                </div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->


                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer">
                    2016 - 2017 © Adminto.
                </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


<%- include('../../layouts/dashboard/right_bar') %>
<%- include('../../layouts/dashboard/foot') %>